* {
    margin: 0;
    padding: 0;
    font-size: 14px;
}

body{
    scroll: auto;
}

#space{
		border-bottom-right-radius: 20px;
		border-bottom-left-radius: 20px;
		background: url('/static/images/background.jpg') top center no-repeat;
}
	
#logo img{
	
	width: 23%;
		
		}

#wrapper{
	width: 80%;
	padding-left: 10%;
	padding-right: 10%;
    margin: 0 auto;
    background: #ddd;
} 

 #dowload-clear a {
 	margin-right: 15x;
 	margin-left: 34px;}
 #foot a{
 	margin-right: 15px;
 	margin-left: 34px;
 }	

 #top-tracks, #recently-played, #playlist_display, div.top, div.center {
	width: 30%;
   float: left;
   margin-right: 30px;
   border-color: purple;
   background-color: white;
   opacity: 0.8;
	border-style: solid;
	border-width: 5px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
 }

 #top-tracks li, #recently-played li, #playlist_display li, div.top li, div.center li {
     margin-left: 10px;
 }
#playlist_display {
    width: 27%;
    float: right;
}

#top-tracks ul, #recently-played ul, #playlist_display ul {
    padding: 10px;
    padding-right: 15px;
}

#links-bar {
	background-color:purple;
}

#search{
	background-color:purple;
	margin-left: 15%;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	float: left;
	padding-bottom: 3px;
	width: 20%;
    height: 26px;
	padding-top: 5px;
}

#search input {
    width: 55%;
    margin-left: 5px;
}

#search input[type=submit] {
    width: 30%;
    margin-left: 0;
    padding-left: 0;
}

#user-links{
	width: 35%;
	float: left;
    margin-left: 24%;
    padding-left: 5px;
    height: 26px;
    background: purple;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	padding-top: 5px;
}
#user-links a{
	margin-right: 8px;
    color: white;
}
	
h2{
     font-size:20px;
     color: white;
     /*padding-left: 45px;
     padding-right: 30px;*/
     background-color: purple;
     opacity: 1;
     /*background-image: url('/static/images/header_background.jpg');*/
     
     text-align: left;
     
	border-top-right-radius: 11px;
	border-top-left-radius: 11px;
     
     }

img{
	border: 0;
	}
a{
	text-decoration: none;
	color: orange;
	font-weight: bold;
 }


/*#logo{
     float: left;
     width: 10px;
     height: 10px;
     
     } */


    
     
li{
	font-size:18px;
   list-style: none;
	}
	
#top-navigation a{
	color: white;
}
#header {
	height: 100px;
	opacity: .95;
	border-bottom-right-radius:0px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 0px;
	}
	
#top-navigation{
	margin-left: 24%;
	background-color: purple;
	padding-top: 1%;
    height: 30%;
    width: 76%;
}

#top-tracks h2, #recently-played h2, #playlist_display h2, div.top h1, div.center h1 {
 	font-size: 20px;
 	width: 100%;
 	text-align: center;
     background-color: purple;
     color: white;
}
#top-navigation a:hover{
color:orange;
text-decoration:none;
}

#top-tracks, #top-artists, #top-albums, #top-genres {
    margin-left: 10px;
}
    

#top-navigation li{
	
  text-align: center;
  margin-left: 30px;
  background-color: purple;
  opacity: 1; 
  border-top-right-radius: 15px;
	border-top-left-radius: 15px;
   line-height: 1.1;
   display: inline;
} 

#top-navigation li:first-child {
    margin-left: 120px;
}

     
#top-navigation a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #FFFFFF;
    background-color:transparent;
    text-decoration: none;
}


#download{
	text-align: center;
	padding-right: 45px;
	padding-left: 100px;
	}


a.track{
     text-decoration:none;
     font-size:25px;
     padding-left: 0px;
     font-family:Arial;
     color: orange;
  /*    left-margin: 100px;*/
     
     }     

#artist {
	background-color: white;
   opacity: 0.8;
	width: 35%;
	float: left;
	margin-top: 100px;
	border-color: purple;
	border-style: solid;
	border-width: 5px;
   margin-left: 80px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	}
#artist h1{
	font-size:20px;
   color: white;
   background-color: purple;
   opacity: 0.8;
   text-align: center;
   margin-top: -5px;
  	margin-left: 0px;
	padding-left: 110px;
 	padding-bottom: 10px;
 	padding-right: 150px;
 	padding-top: 8px;
 	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  }
 #albums{
 	width: 60%;
 	height: 10%;
 	background-color: white;
   opacity: 0.8;
	float: left;
	margin-top: 100px;
	margin-bottom: 120px;
	border-color: purple;
	border-style: solid;
	border-width: 5px;
   margin-left: 50px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
	}
 	
#albums h1{
	font-size:20px;
   color: white;
   background-color: purple;
   opacity: 0.8;
   text-align: center;
   margin-top: -5px;
  	margin-left: 0px;
	padding-left: 110px;
 	padding-bottom: 10px;
 	padding-right: 150px;
 	padding-top: 8px;
 	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  }
  #albums li{
  	background-color: blue;
  	border-color: red;
  	border-style: solid;
  	display: inline;
  	

  }
  #album-inline  {
  	display: inline;
}  	
  #album-name li {
  	width: 180px;
  	background-color: blue;
  	border-color: red;
  	border-style: solid;
    display: block; 
    	
  	}
  	#button-inline a{
   display: inline;
   }  		
 #tracks {
 	width: 50%;
 	height: 10%;
 	background-color: white;
   opacity: 0.8;
	float: left;
	margin-top: 100px;
	margin-bottom: 120px;
	border-color: purple;
	border-style: solid;
	border-width: 5px;
   margin-left: 70px;
	border-bottom-right-radius: 20px;
	border-bottom-left-radius: 20px;
	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
 	}
 
 #tracks h1{
	font-size:20px;
   color: white;
   background-color: purple;
   opacity: 0.8;
   text-align: center;
   margin-top: -5px;
  	margin-left: 0px;
	padding-left: 110px;
 	padding-bottom: 10px;
 	padding-right: 150px;
 	padding-top: 8px;
 	border-top-right-radius: 20px;
	border-top-left-radius: 20px;
  }

li.track a {
}

img.cover {
    max-width: 80px;
}

#tracks-list {
    width: 50%;
    margin-left: 10%;
}

/* Forms */
div.form-div {
    margin-left: 20%;
    width: 40%;
    background: rgba(150, 150, 150, 0.7);
    border-radius: 5px;
    padding: 10px;
}

#edit-profile {
    width: 50%;
    margin-left: 10%;
}

#edit-profile h2 {
    margin-bottom: 4%;
    padding-left: 2%;
}

#edit-profile input {
    margin-bottom: 4%;
}
#footer{
     padding-top: 50%;
     text-align: center;
     margin-right: 45px;
 }
#footer * {
     font-size: 12px;
}


div.paging {
    text-align: center;
    margin-top: 20px;
}

div.single-pane {
    width: 50%;
    margin-left: 5%;
}

div.single-pane h1 {
    padding: 0 0 5px 0;
}

div.single-pane h3, div.single-pane ul, div.single-pane img, div.single-pane p {
    padding: 0 20px;
}

div.single-pane h3, div.single-pane ul {
    padding-top: 10px;
}

div.track-pane #player {
    padding: 10px;
}

#playlists-table {
    padding: 10px;
}

td.playlist-name {
    width: 80%;
}
