{% from "util.html" import script, stylesheet %}
{% from "admin/dirtree.html" import dirtree %}

{% macro stop_muzicast() %}
<form action="{{ url_for('admin.stop') }}" method="POST">
    <input type="submit" value="Stop Muzicast" id="stop-muzicast-button">
</form>
{%- endmacro %}

{% macro admin_password(first_run) %}
<h2>{% if first_run %}Set{% else %}Change{% endif %} Administration Password</h2>

<form action="{{ url_for('admin.change_password') }}" method="POST">
    <table>
        <tr>
            <td align="right">
                <label for="password">New Password</label>
            </td>
            <td>
                <input type="password" placeholder="Enter new password" name="password" required> </input>
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                <input type="submit" value="Change Password"> </input>
            </td>
        </tr>
    </table>
</form>
{%- endmacro %}

{% macro collection_directories_browser() %}
<h2>Music Collection</h2>
<p>Please select the folders on your computer which Muzicast should scan
for music. You should tick the checkbox next to the folder. Selecting a parent folder will select all the children also.</p>

<form action="{{ url_for('admin.rescan') }}" method="POST">
    <input type="submit" value="Rescan Collection" id="rescan-collection-button">
</form>
<form action="{{ url_for('admin.save_directories') }}" method="POST" id="save-directories-form">
    <input type="submit" value="Save" id="save-directories-button">
</form>

<script language="javascript">
$(function() {
    $('#save-directories-form').submit(function(e) {
        // external defined in dirtree macro
        saveDirectoryTree();
        e.preventDefault();
        return false;
    });
    $('#save-directories-button').click(function(e) {
        // external defined in dirtree macro
        saveDirectoryTree();
        e.preventDefault();
        return false;
    });
});
</script>

{{ dirtree() }}
{%- endmacro %}
