<!-- requires jquery to be included on page -->
{% from "util.html" import script %}
{% macro dirtree() %}
    {{ script('jquery.jstree.js') }}
    <div id="dirtree-div">
    </div>
    <script language="javascript">
        $('#dirtree-div')
        .bind("open_node.jstree", function() {
        	console.log("Opened", arguments);
        })
        .bind("loaded.jstree", function(event, data) {
            // open the first level
            // since just showing "Computer"
            // is not very nice
            console.log(event, data);
            data.inst.open_node($('#dirtree-div li:first-child'));
        })
        .jstree({
            core: {},
            themes: {
                url: "{{ script_root }}/static/scripts/themes/themes/default/style.css"
            },
            plugins: [ "themes", "json_data", "checkbox" ],
            json_data: {
                data: [{
                    data: "Computer",
                    metadata: "/",
                    state: "closed"
                }],
                ajax: {
                    data: function(node) {
                        console.log(this, node);
                        if( node == -1 )
                            return "root";
                        return $(node).data('jstree');
                    },

                    success: function(data) {
                        console.log("DATA", data);
                        return data.tree;
                    },

                    url: "{{ script_root }}/admin/dirlist"
                }
            }
        });
    </script>
{%- endmacro %}
