{% from "util.html" import stylesheet, script %}
{% from "admin/blocks.html" import stop_muzicast, admin_password, collection_directories_browser %}

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  {{ stylesheet('admin.css') }}
  {{ script('jquery-1.4.2.js') }}
  <title>Muzicast: Settings</title>
</head>
<body>
    <div id="main">
        <h1>Muzicast Administration</h1>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        {% block body %}{% endblock %}
        <div class="section" id="stop-muzicast-div">
            {{ stop_muzicast() }}
        </div>
        <div class="section" id="admin-password-div">
            {{ admin_password(first_run) }}
        </div>
        <div class="section" id="collection-div">
            {{ collection_directories_browser() }}
        </div>
    </div>
</body>
</html>
