{% from "util.html" import stylesheet %}

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  {{ stylesheet('admin.css') }}
  <title>Muzicast: Shutdown</title>
</head>
<body>
    <div id="main">
        <h1>Muzicast has shutdown successfully</h1>
        <p>To start Muzicast again:</p>
        <h2>Windows</h2>
        <p>On Windows go to the Start -->
        Programs --> Muzicast --> Start Muzicast</p>

        <h2>Linux</h2>
        <p>On Linux you may invoke Muzicast from your desktop environment's menu
        or run `muzicast` from the terminal.</p>
    </div>
</body>
</html>
