{% from "util.html" import stylesheet, paging %}

<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Muzicast: Albums</title>
</head>
<body>
    <div id="header">
        {% include 'header.html' %}
    </div>
    <div id="main">
        <h1>Albums</h1>
        <!-- TODO: fixme fetch top albums -->
        <ul>
        {% for album in albums %}
            {% include 'album_fragment.html' %}
        {% endfor %}
        </ul>

        {{ paging('.album.albums_page', current_page, pages) }}
    </div>

    {% include 'playlist_interface.html' %}
    <div id="footer">
    {% include 'footer.html' %}
</div>
</body>
</html>
