<div id="forgot-password-form" class="form-div">
<form action="{{ url_for('user.forgot_password_reset') }}" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <input type="hidden" name="username" value="{{ user }}">
    <table>
        <tr>
            <td>Question</td>
            <td>{{ secret_question }}</td>
        </tr>
        <tr>
            <td><label for="secret_answer">Answer:</label></td>
            <td><input type="password" name="secret_answer" placeholder="Answer"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Reset Password"></input></td>
        </tr>
    </table>
</form>
</div>
