<div id="forgot-password-form" class="form-div">
    <h2>Recover password</h2>
<form action="{{ url_for('user.forgot_password_username') }}" method="POST">
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                <ul class="flashes">
                {% for category, message in messages %}
                    <li class="{{ category }}">{{ message }}</li>
                {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}
        <h3>Please enter your username to reset your password</h3>
    <table>
        <tr>
            <td><label for="username">Username:</label></td>
            <td><input type="text" name="username" placeholder="Username"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Next"></input></td>
        </tr>
    </table>
</form>
</div>
