{% from "util.html" import stylesheet %}
<div class="center single-pane track-pane">
        <script language="javascript" src="{{ url_for('.static', filename='flowplayer/flowplayer-3.2.4.min.js') }}" type="text/javascript"> </script>
        <h1>{{ track.title }}</h1>
        <h3>by
            <a href="{{ url_for('.artist.index', id=track.artist.id) }}">
                {{ track.artist.name }}
            </a>
            on
            <a href="{{ url_for('.album.index', id=track.album.id) }}">
                {{ track.album.name }}
            </a>
        </h3>
        <div id="player" style="width:400px; height: 170px"></div>
        <script language="javascript">
            flowplayer("player", "{{ url_for('.static', filename="flowplayer/flowplayer-3.2.5.swf") }}", {
                clip: {
                    url: "http://{{url}}:{{port}}/{{track.id}};.mp3",
                    autoPlay: false,
                    provider: 'audio'
                },
                plugins: {
                    myContent: {
                        url: 'flowplayer.content-3.2.0.swf',

                        top: 10,
                        width: 300,
                        height: 50,

                        html: '<p>{{ track.title }} - {{ track.artist.name }}</p><p>{{ track.album.name }}</p>'
                    },

                    controls: {
                        url: "flowplayer.controls-3.2.3.swf",
                        all: false,
                        play: true,
                        stop: true,
                        scrubber: true,
                        time: true,
                        backgroundColor: '#aedaff',
                        tooltips: {
                            buttons: true,
                            fullscreen: "Enter fullscreen mode"
                        }
                    },

                    audio: {
                        url: "flowplayer.audio-3.2.1.swf"
                    }
                }
            });
        </script>

    </div>
