{% macro stylesheet(name) %}
<link rel="stylesheet" href="{{ url_for('.static', filename='styles/%s'%name) }}" type="text/css"> </link>
{%- endmacro %}

{% macro script(name) %}
<script language="javascript" src="{{ url_for('.static', filename='scripts/%s'%name) }}" type="text/javascript"> </script>
{%- endmacro %}

{% macro image(name) %}
<img src="{{ url_for('.static', filename='images/%s'%name) }}"> </img>
{%- endmacro %}

{% macro pretty_time(seconds) %}
{% if seconds > 3600 %}
{{ "%02d:%02d:%02d"|format(seconds//3600, seconds%3600//60, seconds%3600%60) }}
{% else %}
{{ "%02d:%02d"|format(seconds%3600//60, seconds%3600%60) }}
{% endif %}
{%- endmacro %}

{% macro paging(endpoint, current, total) %}
<div class="paging">
    {% if current > 1 %}
    <a href="{{ url_for(endpoint, page=current-1) }}">&#171;</a>
    {% endif %}
    <span>Page {{ current }} of {{ total }}</span>
    {% if current < total %}
    <a href="{{ url_for(endpoint, page=current+1) }}">&#187;</a>
    {% endif %}
</div>
{%- endmacro %}
